.profile-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.profile-div form{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}
.input-group,
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.profile-div div input[type=text],
.profile-div div input[type=password],
.profile-div div input[type=email],
.react-date-picker__wrapper,
.react-phone-number-input,
.select-role{
    width: 100%;
    padding:10px 10px 10px 10px;
    display: inline-block;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-sizing: border-box;
}
.react-phone-number-input__phone,
.react-phone-number-input__input{
    font-size: small !important;
    height: auto !important;
    border: none !important;
}
.react-phone-number-input__icon-image{
    margin-bottom: 5px;
}
.react-date-picker__inputGroup{
    font-size: small;
    border: none;
}
.profile-div div input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.profile{
    font-size: 32px;
}
.input-div,
.react-date-picker{
    display:flex;
    flex: 4;
    align-items: center;
}
.input-label{
    display: flex;
    flex: 1;
    align-items: center;
    text-align: start;
}
.update-button {
    background-color: #008000;
}
.profile-div div .update-button:hover {
    background-color: #00b300;
}
.logout-button{
    background-color: #b30000;
}
.profile-div div .logout-button:hover {
    background-color: #ff0000;
}
.profile-update-success{
    height: 40px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #c1f0c1;
    color: #196719;
}
@media only screen and (max-width: 600px) {
    .input-group {
      flex-direction: column;
    }
    .profile-div form{
        flex-basis: 200px;
    }
    .profile-div div:last-child {
        flex-direction: row;
    }
}