.sign-up-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.sign-up-div form{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}
.input-group,
.sign-in{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sign-up-div div input[type=text],
.sign-up-div div input[type=password]{
    width: 100%;
    padding:10px 10px 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.sign-up-div div input[type=submit] {
    width: 100%;
    background-color: #0088cc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.sign-in{
    font-size: 32px;
}
.input-div{
    display:flex;
    flex: 4;
    align-items: center;
}
.input-label{
    display: flex;
    flex: 1;
    align-items: center;
    text-align: start;
}
.sign-up-div div input[type=submit]:hover {
    background-color:#1ab2ff;
}
@media only screen and (max-width: 600px) {
    .input-group {
      flex-direction: column;
    }
    .sign-up-div form{
        flex-basis: 200px;
    }
    .sign-up-div div:last-child {
        flex-direction: row;
    }
}